.text-green {
  color: var(--green-500);
}
.text-red {
  color: var(--red-500);
}
.text-yellow {
  color: var(--yellow-500);
}
.text-cyan {
  color: var(--cyan-500);
}
.data {
  td {
    font-size: smaller;
  }
}
