<div class="p-4">

    <div class="grid mb-2">
        <div class="col-10">
            <span class="text-2xl">User List</span>
        </div>
        <div class="col-2">
            <div style="display: flex; align-items: center; justify-content: end;">
                <a routerLink="/users/add/tenant/{{tenantId}}" class="mr-2">Add new user</a>
                <span>|</span>
                <a routerLink="/tenants/list" class="ml-2">Back to Tenant list</a>
            </div>
        </div>
    </div>
    @if(userList.length == 0){
    <h3>No users found</h3>
    }
    @else {
    <p-table styleClass="p-datatable-gridlines" [rowHover]="true" [value]="userList"
        [tableStyle]="{ 'min-width': '50rem' }">
        <ng-template pTemplate="header">
            <tr>
                <th style="width: 80px;">Id</th>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th style="width: 150px;">User Type</th>
                <th style="width: 220px;">Updated At</th>
                <th style="width: 150px;">Updated By</th>
                <th style="width: 150px; text-align: center;">Active</th>
                <th style="width: 250px; text-align: center;">Actions</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-user>
            <tr class="data">
                <td>{{ user.id }}</td>
                <td>{{ user.name }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.phone }}</td>
                <td>{{ userTypes[user.userType] }}</td>
                <td>{{ user.updatedAt | date:'medium' }}</td>
                <td>{{ user.updator.name }}</td>
                <td style="text-align: center;">
                    <i [ngClass]="user.isActive?'pi pi-check text-green':'pi pi-times text-red'"></i>
                </td>
                <td style="text-align: center;">
                    <a routerLink="/users/edit/tenant/{{tenantId}}/{{user.id}}" class="mr-3">
                        <i class="pi pi-pencil text-primary"></i>
                    </a>
                    <a routerLink="/users/clone/tenant/{{tenantId}}/{{user.id}}" href="javascript:void(0)" class="mr-3">
                        <i class="pi pi-clone text-green"></i>
                    </a>
                    <a href="javascript:void(0)" (click)="deleteUser(user.id)" class="mr-3">
                        <i class="pi pi-trash text-red"></i>
                    </a>
                    <a href="javascript:void(0)" class="mr-3">
                        <i class="pi pi-info text-yellow"></i>
                    </a>
                </td>
            </tr>
        </ng-template>
    </p-table>
    }

</div>
<p-toast />
<p-confirmDialog />