<div class="p-4">
    <div class="grid">
        <div class="col-10">
            <span class="text-2xl">Add User</span>
        </div>
        <div class="col-2">
            <div style="display: flex; align-items: center; justify-content: end;">
                <a routerLink="/users/list/tenant/{{tenantId}}" class="ml-2">Back to User list</a>
                <span>|</span>
                <a routerLink="/tenants/list" class="ml-2">Back to Tenant list</a>
            </div>
        </div>
    </div>
    <p-card class="p-0">

        <div class="grid mt-2">
            <div class="col-fixed" style="width:200px">
                <label for="userName">User Name</label>
            </div>
            <div class="col-10">
                <input id="userName" type="text" [(ngModel)]="name"
                    class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary">
            </div>
        </div>
        <div class="grid mt-2">
            <div class="col-fixed" style="width:200px">
                <label for="email">Email</label>
            </div>
            <div class="col-10">
                <input id="email" type="text" [(ngModel)]="email"
                    class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary">
            </div>
        </div>
        <div class="grid mt-2">
            <div class="col-fixed" style="width:200px">
                <label for="phone">Phone</label>
            </div>
            <div class="col-10">
                <input id="phone" type="text" [(ngModel)]="phone"
                    class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary">
            </div>
        </div>
        <div class="grid mt-2">
            <div class="col-fixed" style="width:200px">
                <label for="userType">User Type</label>
            </div>
            <div class="col-10">
                <input id="userType" type="text" [(ngModel)]="userType"
                    class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary">
            </div>
        </div>
        <div class="grid mt-2">
            <div class="col-fixed" style="width:200px">
            </div>
            <div class="col-10">
                <div class="field-checkbox">
                    <input type="checkbox" id="isActive" [(ngModel)]="isActive" />
                    <label for="isActive">Is Active ?</label>
                </div>
            </div>
        </div>
        <div class="grid mt-2">
            <div class="col-fixed" style="width:200px">
            </div>
            <div class="col-10">
                <p-button label="Save" (onClick)="insertUser()"></p-button>
            </div>
        </div>
    </p-card>
</div>
<p-toast />