<div class="p-4">

    <div class="grid mb-2">
        <div class="col-10">
            <span class="text-2xl">Tenant List</span>
        </div>
        <div class="col-2">
            <div style="display: flex; align-items: center; justify-content: end;">
                <a routerLink="/tenants/add" class="mr-2">Add new tenant</a>
            </div>
        </div>
    </div>
    <p-table styleClass="p-datatable-gridlines" [rowHover]="true" [value]="tenantList"
        [tableStyle]="{ 'min-width': '50rem' }">
        <ng-template pTemplate="header">
            <tr>
                <th style="width: 80px;">Id</th>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th style="width: 80px;">Users</th>
                <th style="width: 220px;">Updated At</th>
                <th style="width: 150px;">Updated By</th>
                <th style="width: 100px; text-align: center;">Active</th>
                <th style="width: 250px; text-align: center;">Actions</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-tenant>
            <tr class="data">
                <td>{{ tenant.id }}</td>
                <td>{{ tenant.name }}</td>
                <td>{{ tenant.email }}</td>
                <td>{{ tenant.phone }}</td>
                <td style="text-align: center;">{{ tenant.userCount }}</td>
                <td>{{ tenant.updatedAt | date:'medium' }}</td>
                <td>{{ tenant.updator.name }}</td>
                <td style="text-align: center;">
                    <i [ngClass]="tenant.isActive?'pi pi-check text-green':'pi pi-times text-red'"></i>
                </td>
                <td style="text-align: center;">
                    <a routerLink="/tenants/edit/{{tenant.id}}" class="mr-3">
                        <i class="pi pi-pencil text-primary"></i>
                    </a>
                    <a routerLink="/tenants/clone/{{tenant.id}}" class="mr-3">
                        <i class="pi pi-clone text-green"></i>
                    </a>
                    <a href="javascript:void(0)" (click)="deleteTenant(tenant.id)" class="mr-3">
                        <i class="pi pi-trash text-red"></i>
                    </a>
                    <a href="javascript:void(0)" class="mr-3">
                        <i class="pi pi-info text-yellow"></i>
                    </a>
                    <a routerLink="/users/list/tenant/{{tenant.id}}" href="javascript:void(0)" class="mr-3">
                        <i class="pi pi-users text-cyan"></i>
                    </a>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>
<p-toast />
<p-confirmDialog />