<div class="container flex justify-content-center align-items-center" style="padding-top: 10%;">

    <div class="card border-1 border-round pb-4" style="width: 700px; min-height: 350px;">
        <div class="card-body flex flex-column justify-content-center align-items-center pl-4 pr-4">
            <h2>RESET PASSWORD</h2>
            <div class="field w-9" style="margin-top: 20px;">
                <label for="email">E-Mail</label>
                <input id="email" type="text" [(ngModel)]="email" [readOnly]="otpGenerated"
                    class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
            </div>
            <div *ngIf="otpGenerated" class="field w-9" style="margin-top: 20px;">
                <label for="password">New password</label>
                <input id="password" type="password" [(ngModel)]="password"
                    [ngClass]="password != confirmPassword?'border-red-300':'surface-border'"
                    class="text-base text-color surface-overlay p-2 border-1 border-solid border-round appearance-none focus:border-primary w-full">
            </div>
            <div *ngIf="otpGenerated" class="field w-9" style="margin-top: 20px;">
                <label for="confirmPassword">Confirm password</label>
                <input id="confirmPassword" type="password" [(ngModel)]="confirmPassword"
                    class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
            </div>
            <div *ngIf="otpGenerated" class="field w-9" style="margin-top: 20px;">
                <label for="otp">OTP</label>
                <input id="otp" type="text" [(ngModel)]="otp"
                    class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
            </div>

            <div class="field w-9 pt-4 flex justify-content-between">
                <p-button *ngIf="!otpGenerated" label="Generate OTP" (onClick)="generateOTP()"></p-button>
                <p-button *ngIf="otpGenerated" label="Verify OTP" (onClick)="verityOTP()"></p-button>
            </div>
        </div>
    </div>

</div>

<p-toast></p-toast>